.cart{
    display: flex;
    flex: 1;
    background-image: url(/src/components/123.png);
}
.cartleft{
    overflow: scroll;
    flex: 3;
    background-color: lightgrey;
    margin: 20px;
    padding: 15px;
    height: 500px;
}
.cartright{
    flex: 2;
    background-color: white;
}
.cartimage{
    text-align: left;
}
.cartname{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.cartdescription1{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.cartdescription{
    margin-left: 10px;
}
.cartbuttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.cartbutton{
    cursor: url(/src/components/34.png), pointer;
}