.cart{
    display: flex;
    flex: 1;
    overflow-x: hidden;
}
.cartleft{
    overflow: scroll;
    flex: 3;
    background-color: white;
    margin: 20px;
    padding: 15px;
    height: 600px;
}
.cartright{
    flex: 2;
    background-color: white;
    margin: 20px;
    padding: 15px;
}
.cartimage{
    text-align: left;
}
.cartname{
    font-size: 13px;
    font-weight: 500;
    color: black;
}
.cartdescription1{
    display: flex;
    flex-direction: column;
    font-size: 14px;
    color: grey;
    font-weight: 400;
}
.cartdescription{
    margin-left: 10px;
}
.cartbuttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}
.cartbutton{
    cursor: url(/src/components/34.png), pointer;
}
.cartrighttext{
    margin-top: 6px;
    font-size: 14px;
    font-weight: 500;
}
.cartTop{
    display: flex;
    margin-top: 7px;
}
.CartRightDesc{
    margin-left: 10px;
}
.CartRightDesc > h4{
font-size: 14px;
font-weight: 400;
color: gray;
}
.cart1{
background-image: url(/src/components/123.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    display:flex;
    flex-direction: column;
    background-color: #fff3dd;
    height: 100%;
}
.cartButtonRight{
    background-color: #ff9f1c;
    color:black;
    text-align: center;
    border-radius: 5px;
    font-weight: 500;
    border:none;
    outline: none;
    margin-top: 10px;
    width: 200px;
    padding:8px;
cursor:pointer;
}