.home{
    text-align: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: url(/src/components/1222.png), auto;
    overflow-x: hidden;
}
.home{
    background-image: url(/src/components/123.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
    display:flex;
    flex-direction: column;
    background-color: #fff3dd;
    height: 100%;
}
.headerhome{
    height: 70px;
    position: fixed;
width: auto;
border: 2px white;
border-radius:20px;
background-color: white;
padding: 8px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 5px;
right: 0;
left: 0;
}
@media (max-width: 768px) {
    .headerhome {
        position: static;
    }
}