.drinkItemText {
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-left: 25px;
    margin-bottom: 10px;
}

.drinkItemDescription {
    font-size: 14px;
    font-weight: 500;
    color: gray;
    text-align: left;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 38px;
}

.drinkItemOuterContainer {
    border-radius: 25px;
    background-color: white;
    padding: 8px;
    text-align: center;
    display: block;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 300px;
    height: 380px;
    margin: 20px;
}

.drinkItemcontainer {
    padding-top: 10px;
}

.drinkItemButton {
    cursor: url(/src/components/34.png), pointer;
    height: 50px;
    width: 100px;
    background-color: #ff9f1c;
    border: 1px solid #ff9f1c;
    border-radius: 20px;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 120px;
}

.drinkItemButton1 {
    cursor: url(/src/components/34.png), pointer;
    height: 50px;
    width: 100px;
    background-color: lightgrey;
    border: 1px solid lightgrey;
    border-radius: 20px;
    margin-bottom: 10px;
    color: black;
    font-size: 14px;
    font-weight: 500;
    margin-left: 120px;
}

.drinkItemButton:hover {
    background-color: #ffb54f;
    /* Колір кнопки при наведенні */
}

.drinkpizza {
    margin-top: 10px;
}
.drinkprice{
    margin-bottom: 10px;
    margin-left: 35px;
}
.drinkunder{
    display: flex;
    align-items: center;
}