.footer{
    cursor: url(/src/components/1222.png), auto;
background-color: white;
padding: 8px;
display: flex;
align-items: center;
justify-content: space-between;
margin-top: 5px;

}

.socialmedia{
    cursor: url(/src/components/34.png), pointer;
    font-size: 14px;
color: black;
font-weight: 500;
    margin-bottom: 10px;
}
.probil{
    color: white;
}
@media (max-width: 768px) {
    .leftmid{
        display:none;
    }
    .rightmid {
      display: none;
    }
}