.header{
border: 2px white;
border-radius:20px;
    background-color: white;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}
.headerText{
    
    font-size: 14px;
    color: black;
    font-weight: 500;
}
.headerRight{
    margin-right: 100px;
}
.image{
    cursor: url(/src/components/34.png), pointer;
margin-left: 100px;
}
.clickpointer{
    position: relative;
    display: block;
    line-height: 20px;
    transition: 1s;
    cursor: url(/src/components/34.png), pointer;
}
.clickpointer :hover{
    transform: translateY(-5px);
}
@media (max-width: 768px) {
    .headerRight {
      display: none;
    }
    .image{
      cursor: url(/src/components/34.png), pointer;
  margin-left:40px;
  }
  .headerMid {
    display: none;
  }
    .s123{
margin-right: 40px;
    }
}